<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495955911420-v7rspjgf3da9fssung1rh19e4cdshvk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495955911420-v7rspjgf3da9fssung1rh19e4cdshvk9</string>
	<key>API_KEY</key>
	<string>AIzaSyAc5Z_S0PWb6yM54CULx32Zcr8v3mL1_GE</string>
	<key>GCM_SENDER_ID</key>
	<string>495955911420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>taxi-app-d6fdb</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-app-d6fdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495955911420:ios:ad135cb83d68f9e2f8ed79</string>
</dict>
</plist>